* {
  background-origin: border-box;
}
body {
  margin:0;
  background-color: rgba(137, 43, 226, 0.288);
}

li {
  list-style: none; 
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
}